<% current_user = User.first %>

<h3>Mailbox</h3>

<ul>
  <div class="item">
    <% @message_threads.each do |message_thread| %>
      <% if message_thread.sender_id == current_user.id || message_thread.recipient_id == current_user.id %>
        <% if message_thread.sender_id == current_user.id %>
          <% recipient = User.find(message_thread.recipient_id) %>
        <% else %>
          <% recipient = User.find(message_thread.sender_id) %>
        <% end %>
        <li><%= link_to recipient.first_name, message_thread_messages_path(message_thread)%></li>
      <% end %>
    <% end %>
  </div>
</ul>


<h3>All Users</h3>
<div>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
    <div class="item">
      <%= user.first_name %> <%= link_to 'Message me!', message_threads_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
    </div>
    <% end %>
  <% end %>
</div>
